<!DOCTYPE html>
<html>   
    <head>
        <title>View</title>
        <meta charset="UTF-8">

        <!-- ExtJS -->
        <script type="text/javascript" src="include-ext.js"></script>
        <script type="text/javascript" src="options-toolbar.js"></script>

        <!-- Basic example styling -->
        <link rel="stylesheet" type="text/css" href="example.css" />

        <!-- Load specific css based on selected theme -->
        <script src="theme.js"></script>

        <!-- You should definitely consider using a custom single-file version of OpenLayers -->
        <script src="libs/OpenLayers-2.13.1/OpenLayers.js"></script>
        <script type="text/javascript" src="loader.js"></script>
        <script type="text/javascript" src="tree.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme for Boostrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
        <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
        <script src='lib/wax.leaf.js' type='text/javascript'></script> 
        <script src="lib/L.Wax.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="lib/TileLayer.Common.js"></script> 


    </head>
    <body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="StyleDocuments/style.css">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="../Root/index.html">Ecuador Education Map</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../Root/index.html">Home</a></li>
        <li><a href="../Statistics/index.html">Statistics</a></li>
        <li><a href="../View/index.html">View</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#contact">CONTACT
            <span class="caret"></span>
          </a>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
        <div id="desc">
            <div class="panel panel-header">
              <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

                <h2>Socio-economic Indicators</h2>

                    <div class="video">
                        <iframe width="100%" height="700" src="http://www.siise.gob.ec/agenda/index.html?serial=13" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <br>
                    <p> What is "Sistema Integrado de Indicadores Sociales del Ecuador – SIISE"? 
                    <br> It is a system that provides and publish statistical information available of Ecuador, that represents a integral group of social indicators. 
                    <br> The information about each indicator is shown with chronological series of the evolution over life conditions; besides this information is presented as tables with the respective conceptual definition. 
                    <br> It is available around 1500 indicatores, with the most relevant information about social sectors. For more information you can visit: www.siise.gob.ec</p>
            </div>
        </div> 
    </body>
</html>